{
    "presets": [
      [
        "@babel/preset-env", { "modules": "commonjs" }
    //   "@babel/preset-env",
    //       {
    //         "targets": {
    //           "node": "current"
    //         }
    //       }
]
    ]
  }
  